body{
    /**made by Ries van Geffen https://www.toptal.com/designers/subtlepatterns/sports/ **/
    background: #f7f7f7 url('../resources/Sports.png');
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    outline-style:none;
}

#field-input{
    margin-bottom: 60px;
}

#main-menu,#settings,#authors,#create-players,#game,#task-window,#end-of-game{
    display: none;
}

#main-menu,#settings, #create-players{
    padding-top: 100px;
}

#languages{
    position: fixed;
    top: 0;
    right: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#languages>img{
    margin: 10px 10px 0 10px;
}


.menu-button{
    width: 300px;
    height: 70px;
    font-size: 24px;
    background-color: #2a3f54;
    display: block;
    color: white;
    font-weight: bold;
    border: none;
    margin: 2px auto;

}
button:hover,#back-button:hover,#roll-button:hover, #exit-button:hover, #languages>img:hover{
    cursor: pointer;
}




/* =================== EXIT BUTTON */
#button-container{
    position: fixed;
    top: 0;
    right: 0;
    width: 50px !important;
    max-width: 50px;
    margin-right: 10px;
    margin-left: auto;
}
#exit-button{
    font-size: 50px;
    color: red;
    position: relative;
    top: -10px;
    left: -10px;
}

#white-bg{
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
    left: 10px;
    background-color: white;
}
/* =================== EXIT BUTTON END */

#roll-button{
    display: inline-block;
    position: relative;
    top: 20px;
    margin-left: 20px;
}
#roll-button:hover {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}



#current-player{
    display: inline-block;
    font-size: 25px;
}

input{
    height: 30px;
    width: 300px;
}

#settings, #authors{
    color: black;
}

.dice{
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.tile{
    min-width: 100px;
    min-height: 120px;
    width: 100px;
    height: 120px;
    max-width: 100px;
    max-height: 120px;
    background-color: #e3eced;
    margin: 3px;
    display: inline-block;
    text-align: center;
    vertical-align:top;




    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);




}
.start-tile{
     background-color: #b0ffad;
}
.finish-tile{
    background-color: #b0ffad;
}

.player-icon{
    margin: 0 3px 1px 3px;
    border-radius: 2px;

    display: none;
    background-color: white;
    font-size: 10px;



}

.custom-button{
    font-size: 70px;
    margin-left: 20px;
    margin-right: 20px;
    outline-style:none;
    border-radius: 0px;
}


#add-player-button:hover,#remove-player-button:hover,#choose-player>div:hover,#google-play:hover{
    cursor: pointer;
}


#add-player-button{
    color: #02ff00;
}
#remove-player-button{
    color: red;
}


#task-close-button{
    background-color: white;
    color: #2a3f54;
    margin: 10px auto 30px auto;
    width: 100%;
    max-width: 300px;


}

.div-add-player{
    display: none;
}


#players-container>div{
    width: 300px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    position: relative;
}
#players-container>div>input{
    height: 30px;
    border: none;
    width: 200px;
    float: left;
    display: inline-block;
}

.player-color{
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: pink;

}

.translator-icon{
    position: relative;
    top: 5px;
    margin-right: 5px;
}

#google-play{
    position: relative;
    height: 32px;
    top: 8px;
    width: auto;
}

h2{
    color: #2a3f54;
}
h2>small{
    color: black;
}

#cup{
    height: 300px;
    width: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


#dice{
    margin: 20px;
}



#game{
    margin-bottom: 100px;
    margin-top: 50px;
}

#game-footer,#game-header{
    width: 100%;
    background-color: #2a3f54;
    position: fixed;
    color: white;
}

#game-footer{
    height: 100px;
    bottom: 0px;

}
#game-board{
    padding-top: 20px;
    padding-bottom: 20px;
}
#game-header {
    height: 50px;
    top: 0px;
    text-align: right;
}


#task-window{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    z-index: 20;
}
#task-text>h2{
    color: white;
}
#task-window>div{
    margin: 10%;
    background-color: #2a3f54;
    color: white;
    padding: 20px;
}


#choose-player{
    display: none;
}

#choose-player>div{
    margin: 10px;
    display: inline-block;
    width: 100px;
    font-size: 20px;
}


#timer-container{
    position: fixed;
    left: 0px;
    top: 0px;

}

.timer{
    position: relative;
    display: inline-block;
    background-color: red;
    width: auto;
    height: auto;
    text-align: center;
    margin: 2px 5px 2px 5px;
    height: 44px;
    border-radius: 5px;
}

.timer>p{
    position: relative;
    display: inline-block;
    font-size: 12px;
    display: block;
    margin: 3px;
}
.timer>i, .timer>.time-left{
    display: inline-block;
}




@-webkit-keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}